!.env.example
.contentlayer
.DS_Store
.env
.env.*
.svelte-kit
.vercel
/build
/package
node_modules
vite.config.js*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

*.md
*.webp
*.jpg
*.png